<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.arindo.ketagiahn"
    android:versionCode="1"
    android:versionName="2.3.1">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ketagiahn"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".ActivityContoh"
            android:exported="false" />
        <activity
            android:name=".PemutusanActivity"
            android:exported="false" />
        <activity android:name=".ActivityLaporan" />
        <activity android:name=".TampilActivityOnline" />
        <activity android:name=".GantiPasswordActivity" />
        <activity android:name=".ResetActivity" />
        <activity android:name=".TampilanActivityOffline" />
        <activity android:name=".SimpanOnlineActivity" />
        <activity android:name=".SimpanOfflineActivity" />
        <activity android:name=".TagihanBulananActivity" />
        <activity android:name=".KunjunganActivity" />
        <activity android:name=".DownloadDataActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ActivityRepayment" />
        <activity android:name=".TampilanActivityPelunasan" />
        <activity android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>